<div class="Cards Cards_refresh" th:fragment="cards(books)">
    <div class="Card" th:each="book : ${books}">
        <div th:replace="~{this :: card}"></div>
    </div>
</div>

<div class="Slider Slider_carousel" th:fragment="cardsSlider(books, data)">
    <div class="Slider-box Cards"
         data-load="" th:data-load="${data}"
         data-loadoffset="0"
         data-loadlimit="20">
        <div class="Slider-item" th:each="book : ${books}">
            <div class="Slider-content Cards_refresh">
                <div class="Card">
                    <div th:replace="~{this :: card}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="Slider-navigateWrap">
        <div class="Slider-navigate">
        </div>
    </div>
    <div class="Slider-load">
        <div class="Slider-load-text">Идет загрузка данных
        </div>
    </div>
</div>

<th:block th:fragment="card">
    <div class="Card-picture">
        <a th:href="@{'/books/' + ${book.slug}}">
            <img th:src="${book.image}" src="" alt="card.jpg"/>
        </a>
        <div th:if="${book.discount} > 0">
            <div th:replace="~{this :: cardSale}"></div>
        </div>
        <div th:if="${book.isBestseller}">
            <div th:replace="~{this :: cardBestseller}"></div>
        </div>
    </div>
    <div class="Card-content">
        <strong class="Card-title">
            <a th:href="${'/books/' + book.slug}" th:text="${book.title}"></a>
        </strong>
        <div class="Card-description" th:each="author : ${book.authors}">
            <span th:text="${author.toString}"></span>
        </div>
        <div class="Card-cost">
            <span class="Card-priceOld" th:if="${book.discount != 0}" th:text="${'₽' + book.price}"></span>
            <span class="Card-price" th:text="${'₽' + book.discountPrice}"></span>
        </div>
    </div>
</th:block>

<div class="Card-sale" th:fragment="cardSale" th:text="${book.discount} + '% скидка'">
</div>

<div class="Card-ribbon" th:fragment="cardBestseller"><span class="Card-ribbonText">Бестселлер</span>
</div>

<a class="Card-status" title="Отложена"><img src="/assets/img/icons/heart.svg" alt="heart.svg"/></a>

<a class="Card-status" title="Куплена"><img src="/assets/img/icons/check.svg" alt="check.svg"/></a>

<a class="Card-status" title="В корзине"><img src="/assets/img/icons/shopping-basket.svg"
                                              alt="shopping-basket.svg"/></a>

<th:block th:fragment="statusFragment">
    <div class="Cart-product" th:each="book : ${booksStatusList}">
        <div class="Cart-block Cart-block_row">
            <div class="Cart-block Cart-block_pict">
                <a class="Cart-pict" th:href="${'/books/' + book.slug}"><img class="Cart-img" th:src="${book.image}"
                                                                             alt="card.jpg"/></a>
            </div>
            <div class="Cart-block Cart-block_row">
                <div class="Cart-block Cart-block_info">
                    <div class="Cart-author" th:each="author : ${book.authors}">
                        <a th:href="${'/authors/#'}" th:text="${author}"></a>
                    </div>
                    <div class="Cart-title">
                        <a th:href="${'/books/' + book.slug}" th:text="${book.title}"></a>
                    </div>
                    <div class="Cart-rating"><span class="Rating"><span class="Rating-stars"><span
                            class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span></span></span>
                    </div>
                    <div class="Cart-buttons">
                        <th:block th:if="${status == 'cart'}">
                            <div class="Cart-btn">
                                <button class="btn btn_primary btn_outline" data-sendstatus="KEPT"
                                        data-delete=""
                                        th:attr="data-bookid=${book.slug}">
                                    <span class="btn-icon"><img src="/assets/img/icons/heart.svg"
                                                                alt="heart.svg"/></span>
                                    <span class="btn-content">Отложить</span>
                                </button>
                            </div>
                            <div class="Cart-btn">
                                <button class="btn btn_danger btn_outline" data-sendstatus="UNLINK"
                                        th:data-bookid="${book.slug}"
                                        data-delete="/remove/cart">
                                    <span class="btn-icon"><img src="/assets/img/icons/trash.svg"
                                                                alt="trash.svg"/></span><span class="btn-content">Удалить</span>
                                </button>
                            </div>
                        </th:block>
                        <th:block th:if="${status == 'postponed'}">
                            <div class="Cart-btn">
                                <button class="btn btn_primary btn_outline" data-sendstatus="CART"
                                        data-delete=""
                                        th:attr="data-bookid=${book.slug}">
                                    <span class="btn-icon"><img src="/assets/img/icons/shopping-basket.svg"
                                                                alt="shopping-basket.svg"/></span><span
                                        class="btn-content">Купить</span>
                                </button>
                            </div>
                            <div class="Cart-btn">
                                <button class="btn btn_danger btn_outline" data-sendstatus="UNLINK"
                                        th:data-bookid="${book.slug}"
                                        data-delete="/remove/postponed">
                                    <span class="btn-icon">
                                        <img src="/assets/img/icons/trash.svg"
                                             alt="trash.svg"/></span><span class="btn-content">Удалить</span>
                                </button>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="Cart-block Cart-block_price">
                    <div class="Cart-priceTitle">Цена:
                    </div>
                    <div class="Cart-price Cart-price_old" th:text="${book.price}">254 р.
                    </div>
                    <div class="Cart-price" th:text="${book.discountPrice}">180 р.
                    </div>
                    <div class="Cart-sale" th:text="${book.discount} + '%'">-30%
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Cart-total" th:if="${status == 'cart'}">
        <div class="Cart-block Cart-block_total">
            <strong class="Cart-title">Итого:
            </strong><span class="Cart-price">534 р.</span><span class="Cart-price_old">658 р.</span>
        </div>
        <div class="Cart-block"><a class="btn btn_success btn_md" href="/order.html">Купить</a>
        </div>
    </div>
    <div class="Cart-total" th:if="${status == 'postponed'}">
        <div class="Cart-block Cart-block_total">
        </div>
        <div class="Cart-block">
            <button class="btn btn_success btn_md Cart-buyAll" data-sendstatus="CART"
                    data-bookid="[1111, 1122, 1133]">
                Купить все
            </button>
        </div>
    </div>
</th:block>