<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="statusFragment(books, status)">
  <div class="Cart-product" th:each="book : ${books}">
    <div class="Cart-block Cart-block_row">
      <div class="Cart-block Cart-block_pict">
        <a class="Cart-pict" th:href="${'/books/' + book.slug}"><img class="Cart-img" th:src="${book.image}"
                                                                     alt="card.jpg"/></a>
      </div>
      <div class="Cart-block Cart-block_row">
        <div class="Cart-block Cart-block_info">
          <div class="Cart-author" th:each="author : ${book.authors}">
            <a th:href="${'/authors/#'}" th:text="${author}"></a>
          </div>
          <div class="Cart-title">
            <a th:href="${'/books/' + book.slug}" th:text="${book.title}"></a>
          </div>
          <div class="Cart-rating">
                        <span class="Rating">
                            <th:block th:replace="~{fragments/rating_fragment::ratingStarsFragment(${book.rating.value}, ${book.rating.count})}">
                            </th:block>
                        </span>
          </div>
          <div class="Cart-buttons">
            <th:block th:if="${status == 'cart'}">
              <div class="Cart-btn">
                <button class="btn btn_primary btn_outline" data-sendstatus="KEPT"
                        data-delete=""
                        th:attr="data-bookid=${book.slug}">
                                    <span class="btn-icon"><img src="/assets/img/icons/heart.svg"
                                                                alt="heart.svg"/></span>
                  <span class="btn-content">Отложить</span>
                </button>
              </div>
              <div class="Cart-btn">
                <button class="btn btn_danger btn_outline" data-sendstatus="UNLINK"
                        th:data-bookid="${book.slug}"
                        data-delete="/remove/cart">
                                    <span class="btn-icon"><img src="/assets/img/icons/trash.svg"
                                                                alt="trash.svg"/></span><span class="btn-content">Удалить</span>
                </button>
              </div>
            </th:block>
            <th:block th:if="${status == 'postponed'}">
              <div class="Cart-btn">
                <button class="btn btn_primary btn_outline" data-sendstatus="CART"
                        data-delete=""
                        th:attr="data-bookid=${book.slug}">
                                    <span class="btn-icon"><img src="/assets/img/icons/shopping-basket.svg"
                                                                alt="shopping-basket.svg"/></span><span
                        class="btn-content">Купить</span>
                </button>
              </div>
              <div class="Cart-btn">
                <button class="btn btn_danger btn_outline" data-sendstatus="UNLINK"
                        th:data-bookid="${book.slug}"
                        data-delete="/remove/postponed">
                                    <span class="btn-icon">
                                        <img src="/assets/img/icons/trash.svg"
                                             alt="trash.svg"/></span><span class="btn-content">Удалить</span>
                </button>
              </div>
            </th:block>
          </div>
        </div>
        <div class="Cart-block Cart-block_price">
          <div class="Cart-priceTitle">Цена:
          </div>
          <div class="Cart-price Cart-price_old" th:text="${book.price}">254 р.
          </div>
          <div class="Cart-price" th:text="${book.discountPrice}">180 р.
          </div>
          <div class="Cart-sale" th:text="${book.discount} + '%'">-30%
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Cart-total" th:if="${status == 'cart'}">
    <div class="Cart-block Cart-block_total">
      <strong class="Cart-title">Итого:
      </strong><span class="Cart-price">534 р.</span><span class="Cart-price_old">658 р.</span>
    </div>
    <div class="Cart-block"><a class="btn btn_success btn_md" href="/order.html">Купить</a>
    </div>
  </div>
  <div class="Cart-total" th:if="${status == 'postponed'}">
    <div class="Cart-block Cart-block_total">
    </div>
    <div class="Cart-block">
      <button class="btn btn_success btn_md Cart-buyAll" data-sendstatus="CART"
              data-bookid="[1111, 1122, 1133]">
        Купить все
      </button>
    </div>
  </div>
</th:block>
</body>
</html>