<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="ratingStarsFragment(value, count)">
<span class="Rating-stars">
    <span class="Rating-star" th:each="star : ${#numbers.sequence(1, 5, 1)}"
          th:classappend="${star <= value && value != 0} ? 'Rating-star_view' : ''">
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
            <g><g>
                <path fill="#ffc000"
                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
            </g></g>
        </svg>
    </span>
</span>
    <span class="Rating-title" th:text="'(' + ${count} + ')'"></span>
</th:block>
<th:block th:fragment="ratingStarsVote">
    <span class="Rating-stars">
        <th:block th:each="star : ${#numbers.sequence(1, 5, 1)}">
        <span class="Rating-star">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                <g><g>
                    <path fill="#ffc000"
                          d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                </g></g>
            </svg>
        </span>
        <input name="rating" type="radio" th:value="${star}"/>
            </th:block>
    </span>
</th:block>
</body>
</html>