<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common_head_fragment::common_head(~{::title},~{meta},~{link},~{script})">
<body class="Site">
<header th:replace="~{fragments/header_fragment}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title">Авторы
            </h1>
            <div class="Section">
                <div class="Authors">
                    <div class="Authors-links">
                        <a class="Authors-link" href="#a" th:each="authorList : ${authorsMap}"
                           th:href="'#' + ${authorList.key}" th:text="${authorList.key}">А</a>
                    </div>
                    <div class="Authors-block" th:each="authorList : ${authorsMap}">
                        <h2 class="Authors-title" id="a" th:id="${authorList.key}" th:text="${authorList.key}">А
                        </h2>
                        <div class="Authors-letter">
                            <div class="Authors-item" th:each="author : ${authorList.value}">
                                <a th:href="@{'/authors/' + ${author.slug}}" href="/authors/slug.html"
                                   th:text="${author.lastName + ' ' + author.firstName}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:insert="~{fragments/footer_fragment :: footerFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>