<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common_head_fragment::common_head(~{::title},~{meta},~{link},~{script})"></head>
<body class="Site">
<header th:replace="~{fragments/header_fragment}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item"><a th:href="@{'/'}">Главная</a>
                </li>
                <li class="breadcrumbs-item"><a th:href="@{'/authors'}">Авторы</a>
                </li>
                <li class="breadcrumbs-item breadcrumbs-item_current">
                    <th:block th:text="${authorData.firstName + ' ' + authorData.lastName}"></th:block>
                </li>
            </ul>
            <h1 class="Middle-title" th:text="${authorData.firstName + ' ' + authorData.lastName}"></h1>
            <div class="Section">
                <div th:replace="~{fragments/books_pool_fragment :: cards(${authorBooks.books})}"></div>
                <div class="Cards-footer Cards-footer_center">
                    <a class="btn btn_primary" href="#"
                       data-refreshshow="author"
                       data-refreshoffset="1"
                       data-refreshlimit="10"
                       th:attr="data-refreshid=${authorId}">Показать еще</a>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footerFragment}"></footer>
</body>
</html>