<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common_head_fragment::common_head(~{::title},~{meta},~{link},~{script})">
    <script src="/assets/js/imageUploadScript.js"></script>
    <script src="/assets/js/bookDownloadScript.js"></script>
</head>
<body class="Site">
<header th:replace="fragments/header_fragment"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item">
                    <a th:href="@{'/'}">Главная</a>
                </li>
                <li class="breadcrumbs-item">
                    <a th:href="${'/genres/' + bookSlug.genre.slug}">Книги</a>
                </li>
                <li class="breadcrumbs-item breadcrumbs-item_current">
                    <span th:text="${bookSlug.title}"></span>
                </li>
            </ul>
            <div class="Product">
                <div class="ProductCard">
                    <div class="ProductCard-look">
                        <form id="imgForm" method="POST" enctype="multipart/form-data"
                              th:action="${'/books/' + bookSlug.slug + '/img/save'}">
                            <div class="ProductCard-photo" id="uploadButton">
                                <img th:src="${bookSlug.image}" alt="card.jpg"/>
                            </div>
                            <input type="file" name="file" id="dialog" style="display: none" accept="image/*">
                        </form>
                    </div>
                    <div class="ProductCard-desc">
                        <div class="ProductCard-header">
                            <h1 class="ProductCard-title" th:text="${bookSlug.title}"></h1>
                            <div class="ProductCard-author"><span class="ProductCard-titleProp">Автор:</span>&#32;
                                <th:block th:each="author : ${bookSlug.authors}">
                                    <a th:href="@{'/authors/' + ${author.slug}}"
                                       th:text="${author.toString()}">&nbsp;</a>
                                </th:block>
                            </div>
                            <div class="ProductCard-rating">
                                <span class="ProductCard-titleProp">Рейтинг:</span>
                                <button class="trigger trigger_dropdown" type="button">
                                    <div class="Rating Rating_noStyleLink">
                                        <th:block
                                                th:replace="fragments/rating_fragment::ratingStarsFragment(${bookSlug.rating.value}, ${bookSlug.rating.count})">
                                        </th:block>
                                    </div>
                                    <div class="modal modal_compression modal_dropdown">
                                        <div class="modal-window">
                                            <a class="modal-close" href="#"><span></span><span></span></a>
                                            <strong class="modal-title">Распределение оценок</strong>
                                            <div class="RatingGroup" th:each="rate : ${bookSlug.rating.values2Count}">
                                                <span class="Rating">
                                                    <th:block
                                                            th:replace="fragments/rating_fragment::ratingStarsFragment(${rate.key}, ${rate.value})"></th:block>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>

                            <div class="ProductCard-assessment"><span
                                    class="ProductCard-titleProp">Оцените книгу:</span>
                                <span class="Rating Rating_input" data-bookid="2121">
                                    <th:block th:replace="fragments/rating_fragment::ratingStarsVote"></th:block>
                                </span>
                            </div>
                            <div class="ProductCard-tags">
                                <span class="ProductCard-titleProp">Тэги:</span>
                                <th:block th:each="tag : ${bookSlug.tags}">
                                    <a th:href="@{'/tags/' + ${tag.slug}}" th:text="${tag.name}">&nbsp;</a>
                                </th:block>
                            </div>
                            <div class="ProductCard-cost"><span class="ProductCard-titleProp">Цена:</span>
                                <span class="ProductCard-priceOld" th:if="${bookSlug.discount != 0}"
                                      th:text="${bookSlug.price}"></span>
                                <span class="ProductCard-price" th:text="${bookSlug.discountPrice}"></span>
                            </div>
                        </div>
                        <div class="ProductCard-text">
                            <p th:text="${bookSlug.description}"></p>
                        </div>
                        <div class="ProductCard-cart">
                            <div class="ProductCard-cartElement">
                                <button class="btn btn_primary btn_outline" data-sendstatus="KEPT"
                                        data-delete=""
                                        th:attr="data-bookid=${bookSlug.slug}"
                                        data-btntype="check" data-btnradio="buyblock" data-check="false"
                                        data-alttext="Отложена"><span class="btn-icon"><img
                                        src="/assets/img/icons/heart.svg" alt="heart.svg"/></span><span
                                        class="btn-content">Отложить</span>
                                </button>
                            </div>
                            <div class="ProductCard-cartElement">
                                <button class="btn btn_primary btn_outline" data-sendstatus="CART"
                                        data-delete=""
                                        th:attr="data-bookid=${bookSlug.slug}"
                                        data-btntype="check" data-btnradio="buyblock" data-check="false"
                                        data-alttext="В корзине"><span class="btn-icon"><img
                                        src="/assets/img/icons/shopping-basket.svg"
                                        alt="shopping-basket.svg"/></span><span class="btn-content">Купить</span>
                                </button>
                            </div>
                        </div>
                        <div class="ProductCard-cart">
                            <div class="ProductCard-cartElement"><a class="btn btn_primary btn_outline" href="#"><span
                                    class="btn-icon"><img src="/assets/img/icons/download.svg"
                                                          alt="download.svg"/></span><span
                                    class="btn-content">Скачать</span></a>
                            </div>
                            <div class="ProductCard-cartElement">
                                <button class="btn btn_primary btn_outline" data-sendstatus="ARCHIVED"
                                        data-bookid="[1111]" data-btntype="check" data-btnradio="buyblock"
                                        data-check="false" data-alttext="Вернуть из архива"><span class="btn-icon"><img
                                        src="/assets/img/icons/archive.svg" alt="archive.svg"/></span><span
                                        class="btn-content">В архив</span>
                                </button>
                            </div>
                        </div>

                        <div id="popupDownloadWindow">
                            <p>Ссылки для скачивания:</p>
                            <div th:each="bookFile : ${bookSlug.files}">
                                <a th:href="${'/books/download/' + bookFile.hash}" th:text="${bookFile}"></a>
                            </div>

                            <span id="popupDownloadWindow__close">
                                <a class="modal-close" href="#"><span></span><span></span></a>
                            </span>
                        </div>
                        <div id="overlayWindow"></div>
                    </div>
                </div>
                <div class="Product-comments">
                    <div class="Product-comments-header">
                        <h3 class="Product-comments-title">Отзывы
                        </h3><span class="Product-comments-amount" th:text="${bookReviewList.size()}"> отзывов</span>
                    </div>
                </div>
                <div class="Comments">
                    <div class="Comment" th:each="comment : ${bookReviewList}">
                        <div class="Comment-column Comment-column_pict">
                            <div class="Comment-avatar">
                            </div>
                        </div>
                        <div class="Comment-column">
                            <header class="Comment-header">
                                <div>
                                    <strong class="Comment-title">
                                        <th:block th:text="${comment.user.name}"></th:block>
                                        <span class="Comment-rating">
                                        <span class="Rating Rating_comment">
                                            <th:block
                                                    th:replace="fragments/rating_fragment::ratingStarsFragment(${comment.getCommonRatingValue()}, ${comment.getRatings().size()})"></th:block>
                                        </span>
                                        </span>
                                    </strong>
                                    <span class="Comment-date" th:text="${comment.time}"></span>
                                </div>
                            </header>
                            <div class="Comment-content">
                                <div class="Spoiler">
                                    <span class="Spoiler-visible" th:text="${comment.text.substring(0, 40)}">
                                    </span>
                                    <span class="Spoiler-hide"
                                          th:text="${comment.text.substring(41, comment.text.length() - 1)}">
                                    </span>
                                    <div class="Comment-footer">
                                        <div class="Comment-appeal">
                                            <button class="btn btn_white btn_like" data-btntype="check"
                                                    data-check="false"
                                                    data-btnradio="two2" data-likeid="1111"><span class="btn-icon"><img
                                                    src="/assets/img/icons/comment/like.svg" alt="like.svg"/></span>
                                                <span class="btn-content"
                                                      th:text="${comment.getLikesCountByValue(1)}"></span>
                                            </button>
                                            <button class="btn btn_white btn_dislike" data-btntype="check"
                                                    data-check="false" data-btnradio="two2" data-likeid="1111"><span
                                                    class="btn-icon"><img src="/assets/img/icons/comment/dislike.svg"
                                                                          alt="dislike.svg"/></span>
                                                <span class="btn-content"
                                                      th:text="${comment.getLikesCountByValue(-1)}"></span>
                                            </button>
                                        </div>
                                        <button class="Spoiler-trigger btn btn_primary btn_nr" type="button"
                                                data-showtext="Свернуть отзыв" data-hidetext="Показать отзыв полностью">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="fragments/footer_fragment :: footerFragment"></footer>
</body>
</html>