<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common_head_fragment::common_head(~{::title},~{meta},~{link},~{script})">
<body class="Site">
<!--if lt IE 8
p.error-browser
    | Ваш браузер&nbsp;
    em устарел!&nbsp;
    a(href="http://browsehappy.com/") Выберите новую версию
        +s
        | браузера здесь&nbsp;
    | для правильного отображения сайта.
-->
<th:block th:insert="~{fragments/header_fragment::headerFragment}"></th:block>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <div class="Section">
                <div class="Section-header">
                    <h2 class="Section-title">Рекомендуемое</h2>
                </div>
                <div th:insert="~{fragments/books_pool_fragment :: cardsSlider(${recommendedBooks}, 'recommended')}"></div>
                <div class="Section-header">
                    <h2 class="Section-title">Новинки</h2>
                </div>
                <th:block
                        th:insert="~{fragments/books_pool_fragment :: cardsSlider(${recentBooks}, 'recent')}"></th:block>
                <div class="Section-header">
                    <h2 class="Section-title">Популярное</h2>
                </div>
                <div th:insert="~{fragments/books_pool_fragment :: cardsSlider(${popularBooks}, 'popular')}"></div>
            </div>
            <h2 class="Middle-title">Книги по тегам
            </h2>
            <th:block th:replace="~{fragments/tags_fragment::tagsFragment}"></th:block>
        </main>
    </div>
</div>
<th:block th:insert="~{fragments/footer_fragment :: footerFragment}"></th:block>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
<!--+menu(-->
<!--    'Это раз',-->
<!--    'Это два',-->
<!--    'Это три'-->
<!--)-->
<!--br-->
<!--br-->
<!--+menu._vt-->
<!--    +menuItem Это раз-->
<!--    +menuItem.-item_danger Это два-->
<!--    +menuItem Это три-->
</body>
</html>