<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common_head_fragment::common_head(~{::title},~{meta},~{link},~{script})"></head>
<body class="Site">
<header th:replace="~{fragments/header_fragment}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title">Жанры
            </h1>
            <div class="Section">
                <div class="Tags Tags_genres">
                    <div th:replace="~{fragments/genre_pool_fragment::genreFragment(${genresList})}"></div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footerFragment}"></footer>
</body>
</html>