<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common_head_fragment::common_head(~{::title},~{meta},~{link},~{script})"></head>
<body class="Site">
<th:block th:replace="~{fragments/header_fragment}"></th:block>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">

            <ul class="breadcrumbs">
                <li class="breadcrumbs-item"><a th:href="@{'/'}" href="/index.html">Главная</a>
                </li>
                <li class="breadcrumbs-item"><a th:href="@{'/genres/'}" href="/genres/">Жанры</a>
                </li>
                <th:block th:each="genre : ${genreBreadcrumbs}">
                    <li class="breadcrumbs-item"><a th:href="@{'/genres/' + ${genre.slug}}" href="#"
                                                    th:text="${genre.name}"></a>
                    </li>
                </th:block>
            </ul>
            <header class="Middle-header">
                <h1 class="Middle-title" th:text="${genreBreadcrumbs[genreBreadcrumbs.size() - 1].name}"></h1>
            </header>
            <div class="Section">
                <div th:replace="~{fragments/books_pool_fragment :: cards(${booksByGenreList.books})}"></div>
                <div class="Cards-footer Cards-footer_center">
                    <a class="btn btn_primary" href="#"
                       data-refreshshow="genre"
                       data-refreshoffset="1"
                       data-refreshlimit="20"
                       th:attr="data-refreshid=${genreId}">Показать еще</a>
                </div>
            </div>
        </main>
    </div>
</div>
<th:block th:replace="~{fragments/footer_fragment :: footerFragment}"></th:block>
</body>
</html>